@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9399 0.0124 91.5213);
  --foreground: oklch(0.2868 0.0084 75.2489);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2868 0.0084 75.2489);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2868 0.0084 75.2489);
  --primary: oklch(0.2130 0.0368 138.6013);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3282 0.0721 130.3475);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9219 0 0);
  --muted-foreground: oklch(0.4625 0.0095 73.6478);
  --accent: oklch(0.9219 0 0);
  --accent-foreground: oklch(0.2868 0.0084 75.2489);
  --destructive: oklch(0.5995 0.1865 357.7732);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8687 0.0043 56.3660);
  --input: oklch(0.8687 0.0043 56.3660);
  --ring: oklch(0.6611 0.1160 185.9407);
  --chart-1: oklch(0.6611 0.1160 185.9407);
  --chart-2: oklch(0.5995 0.1865 357.7732);
  --chart-3: oklch(0.4625 0.0095 73.6478);
  --chart-4: oklch(0.6192 0.0107 72.5994);
  --chart-5: oklch(0.7717 0.0084 73.7245);
  --sidebar: oklch(0.2868 0.0084 75.2489);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.6611 0.1160 185.9407);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3776 0.0100 73.5967);
  --sidebar-accent-foreground: oklch(0.9551 0 0);
  --sidebar-border: oklch(0.3776 0.0100 73.5967);
  --sidebar-ring: oklch(0.6611 0.1160 185.9407);
  --font-sans: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: Roboto Mono;
  --radius: 0.3rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1631 0.0508 142.8003);
  --foreground: oklch(0.9783 0.0322 93.5127);
  --card: oklch(0.1685 0.0527 138.5705);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.2868 0.0084 75.2489);
  --popover-foreground: oklch(0.9551 0 0);
  --primary: oklch(0.2033 0.0519 149.8557);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3753 0.0634 137.8016);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3539 0.0271 136.7809);
  --muted-foreground: oklch(0.6971 0.0251 131.2493);
  --accent: oklch(0.2725 0.0383 144.4336);
  --accent-foreground: oklch(0.9551 0 0);
  --destructive: oklch(0.4610 0.1649 30.4417);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2538 0.0489 138.3165);
  --input: oklch(0.2682 0.0216 147.6489);
  --ring: oklch(0.8102 0.0772 97.8782);
  --chart-1: oklch(0.6611 0.1160 185.9407);
  --chart-2: oklch(0.5995 0.1865 357.7732);
  --chart-3: oklch(0.7161 0.0091 56.2590);
  --chart-4: oklch(0.5534 0.0116 58.0708);
  --chart-5: oklch(0.4444 0.0096 73.6390);
  --sidebar: oklch(0.2415 0.0073 67.4737);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.6611 0.1160 185.9407);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3317 0.0089 67.5123);
  --sidebar-accent-foreground: oklch(0.9551 0 0);
  --sidebar-border: oklch(0.3317 0.0089 67.5123);
  --sidebar-ring: oklch(0.6611 0.1160 185.9407);
  --font-sans: Golos Text, ui-sans-serif, sans-serif, system-ui;
  --font-serif: serif;
  --font-mono: Roboto Mono;
  --radius: 0.3rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.20), 0px 1px 2px -3px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.20), 0px 1px 2px -3px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.20), 0px 2px 4px -3px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.20), 0px 4px 6px -3px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.20), 0px 8px 10px -3px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
